@primary-color: #333;
@accent-color: rgba(8, 84, 225, 0.72);
@cell-color: #797979;
@xy-color: #ccc;
@figure-color: #0713f8;
@invalid-color: rgba(247, 91, 91, 0.66);
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.btn {
    width: 100%;
    border: 1px solid transparent;
    background-color: lighten(@accent-color, 50%);
    font-weight: 600;
    padding: 5px;
    line-height: 20px;
    &:hover,
    &focus {
        transition: all ease 0.2s;
        background-color: lighten(@accent-color, 10%);
        cursor: pointer;
        color: #fff;
    }
    &:focus {
        outline: none;
    }
}

.form-control {
    border: 1px solid transparent;
    line-height: 20px;
    text-indent: 2px;
    &:hover,
    &:focus {
        transition: all linear 0.3s;
        border-bottom: 1px solid @accent-color;
    }
    &:focus {
        outline: none;
    }
    &.form-invalid {
        box-shadow: 0 0 10px 1px @invalid-color;
        border-bottom: 1px solid @invalid-color;
    }
}

.form-group {
    display: flex;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: baseline;
    label {
        font-weight: 600;
        flex-basis: 70px;
        margin: 5px 0 0 0;
    }
    .form-group {
        flex: 1;
    }
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row-reverse;
    align-items: center;
    .img-wrapper {
        .title {
            background-color: @accent-color;
            line-height: 30px;
            padding-left: 10px;
            text-align: center;
            color: #fff;
        }
        align-self: flex-start;
        box-shadow: 0 0 15px -3px @accent-color;
    }
    .controls-wrapper {
        z-index: 10;
        height: 100vh;
        display: flex;
        flex-flow: column wrap-reverse;
        align-self: flex-start;
        justify-content: flex-start;
        flex-basis: 500px;
        .row {
            margin-left: 10px;
            margin-bottom: 10px;
            box-shadow: 0 0 15px -3px @accent-color;
            .form-group {
                padding-left: 10px;
            }
            .title {
                background-color: @accent-color;
                line-height: 30px;
                padding-left: 10px;
                text-align: center;
                color: #fff;
            }
            .btn {
                width: 100%;
            }
        }
    }
    .graph-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        .labels.x-labels {
            text-anchor: middle;
        }
        .labels.y-labels {
            text-anchor: end;
        }
        // .grid {
        //     stroke: black;
        //     stroke-dasharray: 0;
        //     stroke-width: 1;
        // }
        line.grid {
            stroke: @cell-color;
            stroke-width: 1;
        }
        line.main {
            stroke: #000;
            stroke-width: 2;
        }
        line.figure {
            stroke: @figure-color;
            stroke-width: 2;
            opacity: .5;
        }
        line.arrow {
            stroke: @cell-color;
            stroke-width: 3;
        }
        g[role=figure] {
            cursor: pointer;
        }
        .grid-font {}
    }
    .labels {
        font-size: 13px;
    }
    .label-title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        fill: black;
    }
    .data {
        fill: red;
        stroke-width: 1;
    }
}